/AnalizadorLexicoTiny$Estado.class
/AnalizadorLexicoTiny.class
/ClaseLexica.class
/ConstructorAST.class
/GestionErroresTiny.class
/UnidadLexica.class
/UnidadLexicaMultivaluada.class
/UnidadLexicaUnivaluada.class
